<div>
    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="checkInDate">
            <mat-header-cell *matHeaderCellDef> Check In Date </mat-header-cell>
            <mat-cell *matCellDef="let booking"> {{booking.checkInDate}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="checkOutDate">
            <mat-header-cell *matHeaderCellDef> Check Out Date </mat-header-cell>
            <mat-cell *matCellDef="let booking"> {{booking.checkOutDate}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="numberOfAdults">
            <mat-header-cell *matHeaderCellDef> # Adults </mat-header-cell>
            <mat-cell *matCellDef="let booking"> {{booking.numberOfAdults}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numberOfChildren">
            <mat-header-cell *matHeaderCellDef> # Children </mat-header-cell>
            <mat-cell *matCellDef="let booking"> {{booking.numberOfChildren}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef> # Edit </mat-header-cell>
            <mat-cell *matCellDef="let booking"> <mat-icon appClickableIndicator (click)="onClickEditBooking(booking.id)">mode_edit</mat-icon></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
