<div id="login-container" fxLayout fxLayoutAlign="center center">
    <form fxFlex="0 0 80" fxFlex.xs="0 0 95" (ngSubmit)="onLogin()" #loginForm="ngForm">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <div fxLayout>
                    <div fxFlex="1 1 100">
                        <mat-form-field>
                            <input matInput placeholder="Email" name="email"
                                   [(ngModel)]="email" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout>
                    <div fxFlex="1 1 100">
                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" name="password"
                                   [(ngModel)]="password" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout>
                    <div fxFlex="1 1 100" *ngIf="showRegistrationLink">
                        <mat-icon style="vertical-align: text-bottom;">error_outline</mat-icon>
                        <span style="vertical-align: super;"> {{loginError}}. Do you need to
                            <span appClickableIndicator (click)="openRegisterDialog()" style="font-weight: bold">register?</span></span>
                    </div>
                </div>
            </mat-card-content>
            <div fxLayout fxLayoutAlign="end center">
                <button mat-raised-button class="login-button" type="submit" color="warn" [disabled]="loginDisabled()">Login</button>
            </div>
        </mat-card>
    </form>
</div>