<p>
    edit-booking works!
</p>

<mat-card>
    <div fxLayout>
        <div  fxFlex="0 0 33">
            <mat-form-field >
                <input matInput [matDatepicker]="checkInDatepicker" placeholder="Check in date">
                       <mat-datepicker-toggle matSuffix [for]="checkInDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #checkInDatepicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxFlex="0 0 33">
            <mat-form-field >
                <input matInput [matDatepicker]="checkOutDatepicker" placeholder="Check out date">
                       <mat-datepicker-toggle matSuffix [for]="checkOutDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #checkOutDatepicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxFlex="0 0 33">
            room type placeholder
        </div>
    </div>

    <div fxLayout>
        <div fxFlex="0 0 33">
            <mat-form-field>
                <input matInput placeholder="Number of adults" value="">
            </mat-form-field>
        </div>
        <div fxFlex="0 0 33">
            <mat-form-field>
                <input matInput placeholder="Number of children" value="">
            </mat-form-field>
        </div>
        <div fxFlex="0 0 33">
            <!-- spare for another input-->
        </div>
    </div>
</mat-card>


